body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.wands-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wand-img {
  width: 70%;
  height: 70%;
}

.single-wand {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 50%;
  align-items: center;
}
